In [1]:
import pandas as pd
import requests

In [16]:
import requests

url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer YOUR_TOKEN_HERE"
}

response = requests.get(url, headers=headers)

df = pd.DataFrame(response.json()['results'])[['id', 'title', 'original_language', 'overview', 'popularity', 'release_date', 'vote_average', 'vote_count']]

In [17]:
df

,id,title,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,en,Imprisoned in the 1940s for the double murder ...,27.7246,1994-09-23,8.712,28513
1,238,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o...",27.4118,1972-03-14,8.688,21590
2,803796,KPop Demon Hunters,en,"When K-pop superstars Rumi, Mira and Zoey aren...",243.7102,2025-06-20,8.629,460
3,240,The Godfather Part II,en,In the continuing saga of the Corleone crime f...,15.2504,1974-12-20,8.571,13043
4,424,Schindler's List,en,The true story of how businessman Oskar Schind...,12.2727,1993-12-15,8.565,16520
5,389,12 Angry Men,en,The defense and the prosecution have rested an...,15.3422,1957-04-10,8.549,9230
6,129,Spirited Away,ja,"A young girl, Chihiro, becomes trapped in a st...",16.7894,2001-07-20,8.536,17259
7,155,The Dark Knight,en,Batman raises the stakes in his war on crime. ...,23.8650,2008-07-16,8.521,34033
8,19404,Dilwale Dulhania Le Jayenge,hi,"Raj is a rich, carefree, happy-go-lucky second...",7.3807,1995-10-20,8.518,4494
9,497,The Green Mile,en,A supernatural tale set on death row in a Sout...,15.8268,1999-12-10,8.505,18187
10,496243,Parasite,ko,"All unemployed, Ki-taek's family takes peculia...",26.7270,2019-05-30,8.500,19206
11,680,Pulp Fiction,en,"A burger-loving hit man, his philosophical par...",19.1833,1994-09-10,8.488,28820
12,122,The Lord of the Rings: The Return of the King,en,As armies mass for a final battle that will de...,20.9935,2003-12-17,8.487,25213
13,372058,Your Name.,ja,High schoolers Mitsuha and Taki are complete s...,16.2360,2016-08-26,8.483,11842
14,13,Forrest Gump,en,A man with a low IQ has accomplished great thi...,26.1794,1994-06-23,8.468,28352
15,429,"The Good, the Bad and the Ugly",it,While the Civil War rages on between the Union...,18.3626,1966-12-22,8.464,9063
16,157336,Interstellar,en,The adventures of a group of explorers who mak...,33.1469,2014-11-05,8.456,37372
17,769,GoodFellas,en,"The true story of Henry Hill, a half-Irish, ha...",13.7457,1990-09-12,8.455,13466
18,346,Seven Samurai,ja,A samurai answers a village's request for prot...,6.8400,1954-04-26,8.455,3925
19,12477,Grave of the Fireflies,ja,"In the final months of World War II, 14-year-o...",0.0085,1988-04-16,8.450,5945

In [22]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [27]:
for i in range(1, 401):
    url = f"https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer YOUR_TOKEN_HERE"
    }
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        data = response.json().get('results', [])
        if data:
            temp_df = pd.DataFrame(data)[['id', 'title', 'original_language', 'overview', 'popularity', 'release_date', 'vote_average', 'vote_count']]
            df = pd.concat([df, temp_df], ignore_index=True)
    else:
        print(f"Failed to fetch page {i}: Status Code {response.status_code}")

In [28]:
df

,id,title,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,en,Imprisoned in the 1940s for the double murder ...,27.7246,1994-09-23,8.712,28513
1,238,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o...",27.4118,1972-03-14,8.688,21590
2,803796,KPop Demon Hunters,en,"When K-pop superstars Rumi, Mira and Zoey aren...",243.7102,2025-06-20,8.629,460
3,240,The Godfather Part II,en,In the continuing saga of the Corleone crime f...,15.2504,1974-12-20,8.571,13043
4,424,Schindler's List,en,The true story of how businessman Oskar Schind...,12.2727,1993-12-15,8.565,16520
...,...,...,...,...,...,...,...,...
10995,830788,The Invitation,en,"After the death of her mother, Evie is approac...",6.6193,2022-08-24,6.000,877
10996,519106,The Trouble with You,fr,Detective Yvonne is the widow of police chief ...,0.9102,2018-10-06,6.037,463
10997,309242,Mississippi Grind,en,Gerry is a talented but down-on-his-luck gambl...,1.3933,2015-07-04,6.037,533
10998,848538,Argylle,en,When the plots of reclusive author Elly Conway...,7.3882,2024-01-31,6.036,1504
10999,344041,Standoff,en,A troubled veteran gets a chance at redemption...,1.3538,2016-02-26,6.000,323

In [29]:
df.shape

(11000, 8)

In [30]:
df.to_csv('movies.csv')